node_modules
bin
secrets
**-keypair.json
**Account.json
docker-compose.yml


*.env


Cargo.lock
**/.anchor
**/target
**/*.rs.bk
vrf-example-program/**/*.lock
vrf-example-program/**/*.so
vrf-example-program/**/target
vrf-example-program/**/**/*.lock